<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bt_thuctap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BT_ThucTap"
        android:usesCleartextTraffic="true">
        <activity android:name=".Detail.DV_Service_Detail"
            android:label="Chi tiết dịch vụ "
            android:parentActivityName=".ActivityView.DV_ServiceView" />

        <activity android:name=".Detail.Promotion_Detail"
            android:label="Chi tiết khuyến mãi "
            android:parentActivityName=".ActivityView.PromotionView" />

        <activity android:name=".Detail.DangKiDV_Detail"
            android:label="Chi tiết đăng ký dịch vụ "
            android:parentActivityName=".ActivityView.DangKiDVView" />

        <activity
            android:name=".Detail.Customer_Detail"
            android:label="Chi tiết khách hàng "
            android:parentActivityName=".ActivityView.CustomerView" />
        <activity
            android:name=".ActivityView.DangKiDVView"
            android:label="Đăng ký gói dịch vụ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityView.PromotionView"
            android:label="Chương trình khuyến mãi "
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityView.DV_ServiceView"
            android:label="Dịch vụ "
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityView.CustomerView"
            android:label="Khách hàng"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Trang chủ" />
        <activity
            android:name=".LoginActivity"
            android:label="Đăng nhập hệ thống ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>